body {
	width : 100%;
	height : 100%;
	margin: 0px;
}

/*menu gauche */
nav {
	position  : fixed;
	float: left;
	background-color : #65292d;
	height : 100%;
	width : 18%;
	padding : 1%;
}

nav a {
	display : block;
	color :#65292d;
	text-decoration : none;
}

nav img {
	display: block;
	margin : 0 auto;
	width : 70%;
	border-radius:10px;
}

nav hr {
	height:5px;
	background-color:white;
}

#etoiles {
	text-align:center;
}

#etoiles img{
	display : inline;
	width:20%;
	margin:5%;
}

.menuGauche {
	background-color:#ffcd9a;
	border-radius:10px;
	margin-top:10px;
	text-align:center;
	padding-bottom:1px;
}

.menuGauche ul {
	list-style-type:none;
	text-align:left;
	list-style-image:url('images/coche.jpg');
}

.menuGauche hr {
	height:5px;
	background-color:#65292d;
	width:75%;
	float:right;
	margin-top:-10px;
	margin-bottom:1px;
}

/*fin menu gauche */

#cadre_droit {
	display:inline-block;
	background : url("images/fond.jpg") fixed right;
	width : 80%;
	height : 100%;
	float : right;
	min-width:750px;
	margin-left:20%;
}

@media screen and (max-width:1200px) {
	nav {
		width:200px;
		padding:10px;
	}
	
	#cadre_droit {
		margin-left:220px;
		float:none;
	}
}

.clear {
	clear:  both;
}

#contenu {
	padding : 1%;
	width : 50%;
	background-color : rgba(243, 112, 66, 0.4);
}

section {
	background-color : rgba(243, 112, 66, 0.2);
	padding : 2%;
	margin: 0 auto 5%;
}

 h1{
	opacity : 1;
	color : #FFFFFF;
}

h2, h3 {
	color: #65292d;
}

.img_article{
	width : 20%;
	float : left;
	padding : 1%;
}

.read_more {
	background-color : #ffcc99;
	border-radius :5px;
	border : 1px solid #142016;
	padding : 10px;
	color: #000000;
	box-shadow:1px 1px 2px #5a5a5a inset;
	text-decoration : none ;
	text-align : center;
	float : right;
}

.hr_clear {
	clear: both;
	visibility: hidden;
}

#menuDroite {
	position:fixed;
	right:0;
	top:50%;
	background-color:#65292d;
	border-radius:10px 0 0 10px;
	padding:0 15px;
}

#menuDroite h1 a {
	color:#ffcd9a;
	text-decoration:none;
}

h2 + img {
	float:left;
	margin:5px;
}

[alt=plat] {
	width:30%;
	margin:1%;
	border-radius:50%;
}

#plats {
	text-align:center;
}

h1, h2, h3, p {
	font-family:Helvetica;
	color:white;
}

#equipe img {
	display:block;
	margin:0 auto;
}

#equipe h3, #equipe p {
	text-align:center;
}